<div style="display: none;" class="modal in" id="add-cart-success-dialog" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" >
  <div class="modal-dialog acs-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-white-bg">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        	<span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="big-right-icon acs-img">
      	</div>
      	<div class="asc-txt">
      		添加成功！
      	</div>
      	<div class="asc-btns">
      		<div class="asc-btn asc-btn-settle fl" data-dismiss="modal" ui-sref="cart">去结算&gt;</div>
      		<div class="asc-btn asc-btn-shopping fr" data-dismiss="modal" ui-sref="mall">继续购物&gt;</div>
      	</div>
       <!-- <div class="clear"></div>
      	<div class="asc-other-products" ng-controller='TrackCtrl as trackCtrl3'>
      		<div class="asc-op-title">
      			买过该商品的用户还买了
      		</div>
      		<div class="asc-op-content">
      			<ul class="asc-op-list">
      				<li ng-repeat="rg in otherGoodslist">
      					<div class="asc-op-item">
      						<div>
                    <a href="#/product/detail/{{rg.gid}}/description" >
      							<img  class="asc-op-img" ng-src="{{rg.thumbpath1}}">
                    </a>
      						</div>
      						<p class="asc-op-name">{{rg.goodsName}}</p>
      						<p class="asc-op-price" ng-show="rg.onSale == '1'">￥{{rg.promotionPrice}}</p>
                  <p class="asc-op-price" ng-show="rg.onSale == '0'">￥{{rg.price}}</p>
      					</div>
      				</li>
      			</ul>
      		</div>
      	</div>-->
      </div>
    </div>
  </div>
</div>