<div style="display: none;" class="modal in" id="my-refund-confirm-dialog" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog my-refund-confirm-modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <div class="modal-title" id="confirm-dialog-title">提示</div>
      </div>
      <div class="modal-body">
        <div class="my-refund-confirm-dialog-main">
          <p class="my-refund-confirm-txt">如取消成功，您所支付的金额将通过以下方式返还：</p>
          <div class="my-refund-confirm-detail">
            <div class="my-refund-confirm-hd">支付明细</div>
            <div class="my-refund-confirm-amount">
              <div class="mrca-txt fl">银行卡</div>
              <div class="mrca-value fl">￥128.00</div>
            </div>
            <div class="clear"></div>
            <div class="my-refund-confirm-desc">
              取消订单后，积分、优惠券、购物金将不再返回至您的个人账户，因此给您带来的不便敬请谅解！
            </div>
           
          </div>
           <div class="my-refund-confirm-info">
              <div class="mrci-txt fl">联系方式</div>
              <div class="mrci-name fl">麻婷婷</div>
              <div class="mrci-phone fl">189****5152</div>
            </div>
            <div class="my-refund-confirm-btns">
              <div class="mrc-btn fl">确定取消</div>
              <div class="mrc-btn fr">暂不取消</div>
            </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>