<div style="display: none;" class="modal in" id="order-success-dialog" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog order-success-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        	<span aria-hidden="true">×</span>
        </button> -->
        <h4 class="modal-title" id="order-success-id-title">提示</h4>
      </div>
      <div class="modal-body">
      	<div class="order-success-id-box1">
         <p class="red">请在新打开的网银页面进行付款!</p> 
        </div>
        <div class="order-success-id-box2">
         <p>已成功支付，请点击</p>
         <input type="button" class="payment-completed" data-dismiss="modal" ui-sref="user-center.my-order" value="已完成支付">
        </div>
        <div class="order-success-id-box3">
         <p>付款遇到问题，您可以</p>
         <input type="button" class="re-payment" data-dismiss="modal" value="重新支付">
        </div>
      </div>
    </div>
  </div>
</div>