<div style="display: none;" class="modal in" id="rgsh-voucher-requirement-dialog" tabindex="-1" role="dialog" >
  <div class="modal-dialog rgsh-voucher-requirement-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="confirm-dialog-title">凭证要求</div>
      </div>
      <div class="modal-body">
	      <div class="rgsh-voucher-requirement-info">
    			<ul class="refund-action-note-detail-list">
    				<li>退款中每张图片大小不超过5M，最多3张，支持GIF、JPG、PNG、BMP格式。</li>
    				<li>投诉维权中提供凭证要求1M以内，支持gif、jpg、png或jpeg格式。</li>
    				<li>提醒：若凭证较多，可多次发次发表留言、看法上传。赞不支持视频格式的凭证消息，建议上传到第三方站点后，留言提供链接。若交易已经结束，且投诉维权入口均已关闭或对投诉维权处理结果不满意，请直接联系平台客服热线咨询具体情况。</li>
    			</ul>
    		</div>
      </div>
    </div>
  </div>
</div>