<div style="display: none;" class="modal in" id="success-dialog" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog my-order-cancel-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        	<span aria-hidden="true">×</span>
        </button>
        <div class="modal-title" id="success-title">提示</div>
      </div>
      <div class="modal-body">
        <div class="mocsd-main">
          <div class="mocsd-img">
            <div class="small-right-icon"></div>
          </div>
          <div class="mocsd-txt">
            {{message}}
          </div>
          <div class="moccd-btn moccd-confirm-btn mocsd-btn"  data-dismiss="modal">
            确定
          </div>
        </div>
      </div>
    </div>
  </div>
</div>