<!-- <div class="center-view">
	<iframe src="views/license/business.htm" frameborder="0" width="100%" scrolling="No" height="1000" leftmargin="0"  topmargin="0"></iframe>
</div> -->

<div class="center-view">
	<div class="license-main">
		<table align="center" border="0" cellpadding="0" cellspacing="0" height="352" width="780">
		  <tbody><tr>
		    <td class="baseFont STYLE1" align="center" background="../../images/license/2011_tu_02.jpg" height="46" width="780">&nbsp;</td>
		  </tr>
		  <tr>
		    <td class="baseFont STYLE1" align="center" background="../../images/license/2011_tu_02_1.jpg" height="197" valign="top"><br>
		        <br>
		        <br>
		        <table border="0" height="30" width="75%">
		          <tbody><tr>
		            <td align="center"><span class="baseFontBold STYLE52">公司制企业营业执照信息公示</span></td>
		          </tr>
		        </tbody></table>
		      <br>
		        <br>
		        <br>
		        <table  class="license-main-tb" bgcolor="#CDCDC5" border="0" cellspacing="2" height="480" width="75%">
		          <tbody><tr>
		            <td class="baseFontBold STYLE59" align="left" bgcolor="#FFFFFF" height="25" width="40%">营业执照登载项目</td>
		            <td align="center" bgcolor="#FFFFFF" width="60%"><span class="baseFontBold STYLE59">营业执照登载信息</span></td>
		          </tr>
		          <tr>
		            <td align="left" bgcolor="#FFFFFF" height="20"><span class="baseFontBold STYLE59">注册号</span></td>
		            <td align="center" bgcolor="#FFFFFF"><span class="baseFontBold STYLE61"><font color="#C0C0C0">91370102351776708D</font></span></td>
		          </tr>
		          <tr>
		            <td align="left" bgcolor="#FFFFFF" height="20"><span class="baseFontBold STYLE59">名  称</span></td>
		            <td align="center" bgcolor="#FFFFFF"><span class="baseFontBold STYLE61"><font color="#C0C0C0">山东乐谷信息科技有限公司</font></span></td>
		          </tr>
		          <tr>
		            <td align="left" bgcolor="#FFFFFF" height="20"><span class="baseFontBold STYLE59">住  所</span></td>
		            <td align="center" bgcolor="#FFFFFF"><span class="baseFontBold STYLE61"><font color="#C0C0C0">山东省济南市历下区泉城路26号世茂国际广场A座1010室</font></span></td>
		          </tr>
		          <tr>
		            <td align="left" bgcolor="#FFFFFF" height="20"><span class="baseFontBold STYLE59">法定代表人</span></td>
		            <td align="center" bgcolor="#FFFFFF"><span class="baseFontBold STYLE61"><font color="#C0C0C0">王超</font></span></td>
		          </tr>
		          <tr>
		            <td align="left" bgcolor="#FFFFFF" height="20"><span class="baseFontBold STYLE59">注册资本(万元人民币)</span></td>
		            <td align="center" bgcolor="#FFFFFF"><span class="baseFontBold STYLE61"><font color="#C0C0C0">叁佰万元整</font></span></td>
		          </tr>   
		          <tr>
		            <td align="left" bgcolor="#FFFFFF" height="20"><span class="baseFontBold STYLE59">成立日期</span></td>
		            <td align="center" bgcolor="#FFFFFF"><span class="baseFontBold STYLE61"><font color="#C0C0C0">2015年09月22日</font></span></td>
		          </tr>
		          <tr>
		            <td align="left" bgcolor="#FFFFFF" height="20"><span class="baseFontBold STYLE59">营业期限</span></td>
		            <td align="center" bgcolor="#FFFFFF"><span class="baseFontBold STYLE61"><font color="#C0C0C0">2015年09月22日至&nbsp;年&nbsp;月&nbsp;日</font></span></td>
		          </tr>
		          <tr>
		            <td align="left" bgcolor="#FFFFFF" height="67" valign="middle"><span class="baseFontBold STYLE59">经营范围</span></td>
		            <td align="center" bgcolor="#FFFFFF"><span class="baseFontBold STYLE61"><font color="#C0C0C0">计算机技术开发、技术转让、技术咨询服务；计算机网络工程；计算机系统集成；设计、制作、代理、发布国内广告；文化艺术交流策划；展览展示服务；非专控通讯器材、计算机软硬件及辅助设备、电子产品及配件、仪器仪表、办公用品、日用品、百货的批发、零售；网络技术开发。（依法须经批准的项目，经相关部门批准后方可开展经营活动）</font></span></td>
		          </tr>
		        </tbody></table>
		      <br>
		        <table border="0" height="30" width="75%">
		          <tbody><tr>
		            <td align="left">
						<!--<b><img alt="点此查看营业执照" width=88 height=36 src="image001.jpg"></b>-->
						<b><span style="font-size:12.0pt;font-family:黑体">本企业承诺：以上信息是本单位根据营业执照内容如实发布。
						<br>公司制企业营业执照信息公示表格由山东工商网络商品交易监管服务网提供。</span></b><p></p>
					</td>
		          </tr>
		        </tbody></table>
		      <br></td>
		  </tr>
		  <tr>
		    <td class="baseFont STYLE1" align="center" background="../../images/license/2011_tu_02_2.jpg" height="140">&nbsp;</td>
		  </tr>
		</tbody></table>
	</div>
	
</div>