
	<header-top></header-top>
	<div class="clear"></div>
	<header-search></header-search>
	<div class="clear"></div>
	<header-nav></header-nav>
	<div class="clear"></div> 

<div class="ejiao-technology">
	<div class="et-container">
		<div class="et-page0 et-page cur">
			<img src="../images/ejiao-culture/et-b1.png" alt="" class="et-img1"></div>
		<div class="et-page1 et-page">
			<div class="et-hd center-view">
				<div class="et-pic"></div>
				<div class="et-text">
					<div class="et-title">阿胶制作流程工艺</div>
					<div class="et-title-detail">
						阿胶是一位道地的中药材，阿胶的生产工艺用传统术语说叫做修治。阿胶的修治，程序实在是复杂，大致说来，关键程序有十几道，依次为泡皮、刮毛、焯皮、化皮、靠汁打沫、过滤、沉淀、出胶、切胶、晾胶、翻胶、擦胶等等，阿胶的修治几乎把中药炮制的大部分传统方法都是用上了。所以我们经常对外国友人说，想了解中国中医学皮毛，看看阿胶修治就有代表性了——难怪阿胶修治工艺被列入“世界非物质文化遗产”。
					</div>
				</div>
			</div>
			<div class="et-bd1 et-bd center-view">
				<div class="et-xiu"></div>
				<ul class="et">
					<li class="et">
						<img src="../images/ejiao-culture/li1.png" alt="" class="et-lim1"></li>
					<li class="et">
						<img src="../images/ejiao-culture/li2.png" alt="" class="et-lim2"></li>
					<li class="et">
						<img src="../images/ejiao-culture/li3.png" alt="" class="et-lim3"></li>
					<li class="et">
						<img src="../images/ejiao-culture/li4.png" alt="" class="et-lim4"></li>
					<li class="et">
						<img src="../images/ejiao-culture/li5.png" alt="" class="et-lim5"></li>
				</ul>
			</div>
		</div>
		<div class="et-page2 et-page">
			<div class="et-bd2 et-bd center-view">
				<ul class="et">
					<li class="et">
						<img src="../images/ejiao-culture/li6.png" alt="" class="et-lim6 et-limg">
						<img src="../images/ejiao-culture/lv1.png" alt="" class="et-lv1 et-lv"></li>
					<li class="et">
						<img src="../images/ejiao-culture/li7.png" alt="" class="et-lim7 et-limg">
						<img src="../images/ejiao-culture/lv1.png" alt="" class="et-lv1 et-lv"></li>
					<li class="et">
						<img src="../images/ejiao-culture/li8.png" alt="" class="et-lim8 et-limg">
						<img src="../images/ejiao-culture/lv1.png" alt="" class="et-lv1 et-lv"></li>
					<li class="et">
						<img src="../images/ejiao-culture/li9.png" alt="" class="et-lim9 et-limg">
						<img src="../images/ejiao-culture/lv1.png" alt="" class="et-lv1 et-lv"></li>
					<li class="et">
						<img src="../images/ejiao-culture/li10.png" alt="" class="et-lim10 et-limg">
						<img src="../images/ejiao-culture/lv1.png" alt="" class="et-lv1 et-lv"></li>
				</ul>
			</div>
		</div>
		<div class="et-page3 et-page">
			<div class="et-bd3 et-bd center-view">
				<ul class="et">
					<li class="et">
						<img src="../images/ejiao-culture/li11.png" alt="" class="et-lim11 et-limg">
						<img src="../images/ejiao-culture/lv2.png" alt="" class="et-lv2 et-lv"></li>
					<li class="et">
						<img src="../images/ejiao-culture/li12.png" alt="" class="et-lim12 et-limg">
						<img src="../images/ejiao-culture/lv2.png" alt="" class="et-lv2 et-lv"></li>
					<li class="et">
						<img src="../images/ejiao-culture/li13.png" alt="" class="et-lim13 et-limg">
						<img src="../images/ejiao-culture/lv2.png" alt="" class="et-lv2 et-lv"></li>
					<li class="et">
						<img src="../images/ejiao-culture/li14.png" alt="" class="et-lim4 et-limg">
						<img src="../images/ejiao-culture/lv2.png" alt="" class="et-lv2 et-lv"></li>
					<li class="et">
						<img src="../images/ejiao-culture/li15.png" alt="" class="et-lim15 et-limg">
						<img src="../images/ejiao-culture/lv2.png" alt="" class="et-lv2 et-lv"></li>
					<li class="et">
						<img src="../images/ejiao-culture/li16.png" alt="" class="et-lim16 et-limg">
						<img src="../images/ejiao-culture/lv2.png" alt="" class="et-lv2 et-lv"></li>
					<li class="et">
						<img src="../images/ejiao-culture/li17.png" alt="" class="et-lim17 et-limg">
						<img src="../images/ejiao-culture/lv2.png" alt="" class="et-lv2 et-lv"></li>
					<li class="et">
						<img src="../images/ejiao-culture/li18.png" alt="" class="et-lim18 et-limg">
						<img src="../images/ejiao-culture/lv2.png" alt="" class="et-lv2 et-lv"></li>
				</ul>
			</div>
		</div>
		<div class="et-page4 et-page">
			<div class="et-bd4 et-bd center-view">
				<ul class="et">
					<li class="et">
						<img src="../images/ejiao-culture/li19.png" alt="" class="et-lim19 et-limg">
						<img src="../images/ejiao-culture/lv3.png" alt="" class="et-lv3 et-lv"></li>
					<li class="et">
						<img src="../images/ejiao-culture/li20.png" alt="" class="et-lim20 et-limg">
						<img src="../images/ejiao-culture/lv3.png" alt="" class="et-lv3 et-lv"></li>
					<li class="et">
						<img src="../images/ejiao-culture/li21.png" alt="" class="et-lim21 et-limg">
						<img src="../images/ejiao-culture/lv3.png" alt="" class="et-lv3 et-lv"></li>
					<li class="et">
						<img src="../images/ejiao-culture/li22.png" alt="" class="et-lim22 et-limg">
						<img src="../images/ejiao-culture/lv3.png" alt="" class="et-lv3 et-lv"></li>
					<li class="et">
						<img src="../images/ejiao-culture/li23.png" alt="" class="et-lim23 et-limg">
						<img src="../images/ejiao-culture/lv3.png" alt="" class="et-lv3 et-lv"></li>
					<li class="et">
						<img src="../images/ejiao-culture/li24.png" alt="" class="et-lim24 et-limg">
						<img src="../images/ejiao-culture/lv3.png" alt="" class="et-lv3 et-lv"></li>
					<li class="et">
						<img src="../images/ejiao-culture/li25.png" alt="" class="et-lim25 et-limg">
						<img src="../images/ejiao-culture/lv3.png" alt="" class="et-lv3 et-lv"></li>
					<li class="et">
						<img src="../images/ejiao-culture/li26.png" alt="" class="et-lim26 et-limg">
						<img src="../images/ejiao-culture/lv3.png" alt="" class="et-lv3 et-lv"></li>
					<li class="et">
						<img src="../images/ejiao-culture/li27.png" alt="" class="et-lim27 et-limg">
						<img src="../images/ejiao-culture/lv3.png" alt="" class="et-lv3 et-lv"></li>
				</ul>
			</div>
		</div>
	</div>
</div>
	

 <div class="clear"></div>
 <footer></footer>
