<div class="main-banner"> 
    <div class="breath">
      <ul class="tuul">
        <li class="main-li" style="background:url(../images/index/banner4.jpg) 50% 0 no-repeat;"><a href="#/brandnews/detail/HRz6-Ny0QIOxzkUb2HqvRA"></a></li>
        <li class="main-li" style="background:url(../images/index/banner1.jpg) 50% 0 no-repeat;"><a href="#/mall"></a></li>
        <li class="main-li" style="background:url(../images/index/banner3.jpg) 50% 0 no-repeat;"><a href="#/mall"></a></li>
      </ul>
      <div class="but">
        <span class="leftbut"></span>
        <span class="rightbut"></span>
      </div>
  </div>
</div>