<div class=" modify-mobile-login-password " ng-controller="ModifyLoginPasswordContrller as mlpctrl">
		<div class="safety-setting-total-title">
			<div class="modify-title">
			<p>修改登录密码</p>
			</div>
			<div class="hd">
				<div class="hd1 ">
					<p>验证身份</p>
				</div>
				<div class="hd2 ">
					<p>修改登录密码</p>
				</div>
				<div class="hd3 ">
					<p>完成</p>
				</div>
			</div>
		</div>

			<div class="bd">
				<ng-form name=myForm>
				<input type="hidden"  name='mobile' ng-model="mobile" value="{{mobile}}" required>
				<div class="bd1 on">
					<form name="myForm">
					<div class="bd1-box1">
						<p>已验证手机：{{viewMobile}}</p>
						<input type="button" class="get" value="{{sendSmsBtnValue}}" ng-click="getcode()" value="{{sendSmsBtnValue}}" ng-disabled="smsCountDown" ></div>
					<div class="bd1-box2">
						<div class="top-item">
							<p>请填写手机校验码:</p>
							<input type="text" class="code" name="code" ng-model="user.code" required>
							<p class="red" ng-show="myForm.code.$error.required">请输入手机校验码</p>
						</div>
						<input type="button" class="commit" ng-disabled="myForm.code.$error.required" value="提交" ng-click="submits(user)"></div>
					<div class="bd1-box3 safety-setting-total-ft">
						<p>为什么要进行身份验证?</p>
						<p>1. 为保障您的账户信息安全，在变更账户中的重要信息时需要进行身份验证，感谢您的理解和支持。</p>
						<p>
							2. 验证身份遇到问题？请拨打
							<span class="set">客服电话：400-800-0815</span>
							，客服将尽快为您处理！
						</p>
					</div>
					</form>
				</div>
				<div class="bd2">
					
					<div class="new-key">
						<p>新的登录密码：</p>
						<input type="password" class="new" name="pwd" ng-model="user.password" style="padding-left:10px;" pattern="^\w{8,20}$" required>
						<p ng-show="myForm.pwd.$error.pattern" style="float: left;line-height: 50px; margin-left: 10px;color: #FD4040;">请输入正确的密码</p>
						<!-- <p class="weak">弱</p>
						<div class="tu">
							<div class="icons"></div>
						</div>
						<p class="strong">强</p> -->
					</div>
					<div class="confirm-key">
						<p>确认新密码：</p>
						
						<input type="password" style="padding-left:10px;" class="new" ng-keyup="checkpwd(user)" ng-model="new">
						<p class="red" ng-show="showhide">两次输入的密码不一致</p>
					</div>
					<input type="button" class="commit" ng-disabled="myForm.pwd.$error.pattern || myForm.pwd.$error.required || (user.password!=new)" value="提交" ng-click="tijiao(user)">
				
				</div>
				<div class="bd3 safety-setting-total-success">
					<p>恭喜您，修改登录密码成功！</p>
					<p class="fl">
						账户安全等级：
						<span>{{levelName}}</span>
					</p>
					<div class="progress myaccount-progress  fl">
						<progress-bar level="level"></progress-bar>
					</div>
					<div class="clear"></div>
					<p>
						返回
						<a href="/#/user/center/setting/safety" class="set">安全设置</a>
					</p>
				</div>
			</div>
			<illegal-request-dialog messagehd="{{messagehd}}" ></illegal-request-dialog>
		</div>