<div class=" modify-email-pay-password " ng-controller="ModifyEmailPaypeddContrller">
	<div class="safety-setting-total-title">
			<div class="modify-title">
			<p>修改支付密码</p>
			</div>
			<div class="hd">
				<div class="hd1 ">
					<p>验证身份</p>
				</div>
				<div class="hd2 ">
					<p>修改支付密码</p>
				</div>
				<div class="hd3 ">
					<p>完成</p>
				</div>
			</div>
		</div>
	<div class="bd">
		<form name=myForm>
		<input type="hidden"  name='email' ng-model="email" value="{{email}}" required>
		<div class="bd1 on">
			
			<div class="bd1-box1">
				<p>已验证邮箱：{{viewEmail}}</p>
				<input type="button" class="get" value="获取邮箱校验码" ng-click="emailcode()"></div>
			<div class="bd1-box2">
				<div class="top-item">
					<p>请填写邮箱校验码:</p>
					<input type="text" class="code" name="code" ng-model="code" ng-keyup="checks(code)" required>
					<p class="red" ng-show="myForm.code.$error.required">请输入邮箱校验码</p>
				</div>
				<input type="button" class="commit" ng-disabled="myForm.code.$error.required" value="提交" ng-click="checkemail(code)"></div>
			<div class="bd1-box3 safety-setting-total-ft">
				<p>为什么要进行身份验证?</p>
				<p>1. 为保障您的账户信息安全，在变更账户中的重要信息时需要进行身份验证，感谢您的理解和支持。</p>
				<p>
					2. 验证身份遇到问题？请拨打
					<span class="set">客服电话：400-800-0815</span>
					，客服将尽快为您处理！
				</p>
			</div>
		
		</div>
		<div class="bd2">
			<div class="bd2-box1">
				<p>
					我们给您的邮箱
					<span>{{email}}</span>
					发送了一封含有验证码的邮件，请查收后输入校验码。
				</p>
				<p>
					如未收到邮件请在几分钟后
					<a class="get" href="" ng-click="emailcode()">重新获取</a>
				</p>
			</div>
			<div class="bd2-box2">
				<div class="top-item">
					<p>请填写邮箱校验码:</p>
					<input type="text" class="code" name="code2" ng-model="code2" required>
					<p class="red" ng-show="myForm.code2.$error.required">请输入邮箱校验码</p>
				</div>
				<input type="button" class="commit" ng-disabled="myForm.code2.$error.required" value="提交" ng-click="checkemail(code2)"></div>
			<div class="bd2-box3 safety-setting-total-ft">
				<p>为什么要进行身份验证?</p>
				<p>1. 为保障您的账户信息安全，在变更账户中的重要信息时需要进行身份验证，感谢您的理解和支持。</p>
				<p>
					2. 验证身份遇到问题？请提交
					<span class="set">客服电话：400-800-0815</span>
					，客服将尽快为您处理！
				</p>
			</div>
		</div>
		<div class="bd3">
			
			<div class="new-key">
				<p>新的支付密码：</p>
				<input type="password" class="new" name="pwd" ng-model="user.tradepwd" pattern="^\w{8,20}$" required>
				<p ng-show="myForm.pwd.$error.pattern" style="float: left;line-height: 50px; margin-left: 7px;color: #FD4040;">请输入正确的密码</p>
				<!-- <p class="weak">弱</p>
				<div class="tu">
					<div class="icons"></div>
				</div>
				<p class="strong">强</p> -->
			</div>
			<div class="confirm-key">
				<p>确认密码：</p>
				<input type="password" class="new" ng-model="new" ng-keyup="checkpwd(user)" required>
				<p class="red" ng-show="showhide">两次输入的密码不一致</p>
			</div>
			<input type="button" class="commit" ng-disabled="myForm.pwd.$error.pattern || myForm.pwd.$error.required || myForm.new.$error.required || (user.tradepwd!=new) " value="提交" ng-click="submits(user)">
			
		</div>
		<illegal-request-dialog messagehd="{{messagehd}}"></illegal-request-dialog>
		<div class="bd4 safety-setting-total-success">
			<p>恭喜您，修改支付密码成功！</p>
			<p class="fl">
				账户安全等级：
				<span>{{levelName}}</span>
			</p>
			<div class="progress myaccount-progress  fl">
				<progress-bar level="level"></progress-bar>
			</div>
			<div class="clear"></div>
			<p>
				返回
				<a href="/#/user/center/setting/safety" class="set">安全设置</a>
			</p>
		</div>
		</form>
	</div>
	<illegal-request-dialog messagehd="{{messagehd}}" ></illegal-request-dialog>
</div>