<div class="modify-mobile" ng-controller="ModifyMobileContrller">
	<div class="safety-setting-total-title">
			<div class="modify-title">
			<p>修改手机</p>
			</div>
			<div class="hd">
				<div class="hd1 ">
					<p>验证身份</p>
				</div>
				<div class="hd2 ">
					<p>修改手机</p>
				</div>
				<div class="hd3 ">
					<p>完成</p>
				</div>
			</div>
		</div>
	<div class="bd">
		<form name='myForm'>
		<input type="hidden"  name='oldMobile' ng-model="oldMobile" value="{{oldMobile}}" >
		<input type="hidden"  name='oldEmail' ng-model="oldEmail" value="{{oldEmail}}" >
		<!-- 邮箱认证 start-->
		<div class="bd1 on" ng-if="useEmail">
			<div class="bd1-box1">
				<p>已验证邮箱：{{viewEmail}}
					<a  class='main-hp-name' ng-if="oldMobile" ng-click="changeAuthorType()">切换手机认证</a>
				</p>
				<input type="button" class="get" value="{{sendEmailBtnValue}}"  ng-disabled="myForm.oldEmail.$error.required || emailCountDown" ng-click="sendCodeToUserEmail()">
				
			</div>
			<div class="bd1-box2">
				<div class="top-item">
					<p>请填写邮箱校验码:</p>
					<input type="text" class="code" name='emailCode' ng-model="emailCode" required>
					<p class="red" ng-show="myForm.emailCode.$error.required">请输入邮箱校验码</p>
				</div>
				<input type="button" class="commit" value="提交" ng-disabled="myForm.emailCode.$error.required" ng-click="checkEmailCode(emailCode)">
			</div>
			<div class="bd1-box3">
				<p>为什么要进行身份验证?</p>
				<p>1. 为保障您的账户信息安全，在变更账户中的重要信息时需要进行身份验证，感谢您的理解和支持。</p>
				<p>
					2. 验证身份遇到问题？请拨打
					<span class="set">客服电话：400-800-0815</span>
					，客服将尽快为您处理！
				</p>
			</div>
		</div>
		<!-- 邮箱认证 end-->
		<!-- 手机认证 start-->
		<div class="bd1 on" ng-if="!useEmail">
			<div class="bd1-box1">
				<p>已验证手机：{{viewMobile}}
					<a class='main-hp-name' ng-if="oldEmail" ng-click="changeAuthorType()">切换邮箱认证</a>
				</p>
				<input type="button" class="get" value="{{sendSmsBtnValueOld}}"  ng-disabled="myForm.oldMobile.$error.required || smsCountDownOld" ng-click="sendCodeToUserMobile()">
				
			</div>
			<div class="bd1-box2">
				<div class="top-item">
					<p>请填写手机校验码:</p>
					<input type="text" class="code" name='smsCode' ng-model="smsCode" required>
					<p class="red" ng-show="myForm.smsCode.$error.required">请输入手机校验码</p>
				</div>
				<input type="button" class="commit" value="提交" ng-disabled="myForm.smsCode.$error.required" ng-click="checkSmsCode(smsCode)">
			</div>
			<div class="bd1-box3">
				<p>为什么要进行身份验证?</p>
				<p>1. 为保障您的账户信息安全，在变更账户中的重要信息时需要进行身份验证，感谢您的理解和支持。</p>
				<p>
					2. 验证身份遇到问题？请提交
					<span class="set">客服电话：400-800-0815</span>
					，客服将尽快为您处理！
				</p>
			</div>
		</div>
		<!-- 手机认证 end-->
		<div class="bd2 ">
			
			<div class="bd2-box1">
				<div class="top-item">
					<p>新的手机号：</p>
					<input type="text" name="mo" class="code" ng-model="mobiles" pattern="^((13)|(14)|(15)|(16)|(17)|(18))\d{9}$" required>
					<span ng-show="myForm.mo.$error.required" style="color:red;height: 40px; margin-left: 20px;line-height: 40px;">请输入手机号</span>
					<span ng-show="myForm.mo.$error.pattern" style="color:red;height: 40px; margin-left: 20px;line-height: 40px;">请输入正确的手机号</span>
				</div>
				
				
				<input type="button" class="get"  ng-click="sendcode(mobiles)" value="{{sendSmsBtnValueNew}}" ng-disabled="smsCountDownNew || myForm.mo.$error.pattern|| myForm.mo.$error.required"></div>
			<div class="bd2-box2">
				<div class="top-item">
					<p>请填写手机校验码:</p>
					<input type="text" class="code" name='newSmsCode'  ng-model="codes" required>
					<p class="red" ng-show="myForm.newSmsCode.$error.required">请输入手机校验码</p>
				</div>
					<input type="button" class="commit" value="提交" ng-click="refreshMobile(mobiles,codes)" ng-disabled="myForm.newSmsCode.$error.required">
				</div>
				
			<div class="bd2-box3">
				<p>为什么要验证手机?</p>
				<p>1. 验证手机可加强账户安全，您可以使用已验证手机快速找回密码或支付密码;</p>
				<p>2. 已验证手机可用于接收账户余额变动提醒;</p>
			</div>
			
		</div>
		<div class="bd3 safety-setting-total-success">
			<p>恭喜您，修改手机成功！</p>
			<p class="fl">
				账户安全等级：
				<span>{{levelName}}</span>
			</p>
			<div class="progress myaccount-progress  fl">
				<progress-bar level="level"></progress-bar>
			</div>
			<div class="clear"></div>
			<p>
				返回
				<a href="/#/user/center/setting/safety" class="set">安全设置</a>
			</p>
		</div>
		</form>
	</div>
	<illegal-request-dialog messagehd="{{messagehd}}" ></illegal-request-dialog>
</div>