<div class="refund-action-info">
	<div class="refund-action-hd">
		我要退款（无需退货）
	</div>
	<div class="refund-action-detail">
		<div class="refund-action-note-info">
			<div class="refund-action-action-hd">
				<div class="red-round-warning-icon fl"></div>
				<div class="refund-action-action-hd-txt fl">商家驳回申请</div>
			</div>
			<div class="clear"></div>
			<div class="refund-action-note-detail">
				<ul class="refund-action-note-detail-list">
					<li>卖家驳回了您的退款申请，原因：{{denyTrace.note}}</li>
				</ul>
			</div>
			<div class="clear"></div>
			<div class="refund-action-note-others">
				<div class="refund-action-note-others-hd">您还可以</div>
				<div class="refund-action-note-others-action">
					<a href="#/refund/request?oid={{goods.oid}}&mid={{goods.mid}}&ogid={{goods.id}}&rid={{refund.id}}">修改退款申请</a>
					<a ng-click="cancelRefund()">撤销退款申请</a>
				</div>
			</div>
		</div>
	</div>
</div>