<div class="refund-product-info-detail">
	<table>
		<tr>
			<td class="refund-product-info-img">
				<a href="#/product/detail/{{goods.gid}}/description"><img ng-src="{{goods.imgpath}}@90h_90w.jpg" alt="" ></a>
			</td>
			<td class="refund-product-info-name text-omitted">
				<a href="#/product/detail/{{goods.gid}}/description">{{goods.gname}}</a>
			</td>
			<td class="refund-product-info-amount">
				数量：{{goods.count}}
			</td>
			<td class="refund-product-info-price">
				小计：￥{{goods.payout}}
			</td>
			<td class="refund-product-info-logistics">
				<div class="refund-pi-logistics-info">
					<div class="refund-pi-logistics">发货物流信息</div>
					<!-- <div class="gray-white-full-arrow-icon refund-pi-arror-img"></div>
					<div class="refund-pi-logistics-detail">
						<div class="my-order-ld-hd">普通快递</div>
						<div class="my-order-ld-txt">
							<ul class="my-order-ld-list">
								<li>
									<div class="my-order-ld-item">
										<div class="my-order-ld-round my-order-ldr-red fl"></div>
										<div class="my-order-ld-item-txt fl">
											您的商品正在配货，请内心等待
										</div>
										<div class="clear"></div>
										<div class="my-order-ld-item-date">
											2015-11-03 23：45：11
										</div>
									</div>
								</li>
								<li>
									<div class="my-order-ld-item">
										<div class="my-order-ld-round my-order-ldr-gray fl"></div>
										<div class="my-order-ld-item-txt fl">
											您的商品正在配货，请内心等待，您的商品正在配货，请内心等待，您的商品正在配货，请内心等待，您的商品正在配货，请内心等待
										</div>
										<div class="clear"></div>
										<div class="my-order-ld-item-date">
											2015-11-03 23：40：11
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div> -->
				</div>
				
			</td>
		</tr>
	</table>
	
</div>