<div class="refund-action-info">
	<div class="refund-action-hd">
		我要退货
	</div>
	<div class="refund-action-detail">
		<!--买家未发货 start-->
		<div class="refund-action-note-info">
			<div class="rgbh-action-note">
				<div class="refund-action-action-hd">
					<div class="red-round-warning-icon fl"></div>
					<div class="refund-action-action-hd-txt fl"><span class="refund-action-action-hd-note">如未退货，</span>请退货给卖家</div>
				</div>
				<div class="clear"></div>
				<div class="refund-action-note-detail">
					<ul class="refund-action-note-detail-list">
						<li>退货地址：{{acceptTrace.note}}</li>
					</ul>
				</div>
			</div>
			
			<div class="clear"></div>
			<div class="refund-action-note-others">
				<div class="refund-action-action-hd">
					<div class="red-round-warning-icon fl"></div>
					<div class="refund-action-action-hd-txt fl"><span class="refund-action-action-hd-note">如已退货，</span>请填写退货物流信息</div>
				</div>
				<div class="clear"></div>
				<div class="refund-action-note-detail">
					<div class="rgbh-button" data-target="#edit-logistics-info-dialog" data-toggle="modal">请填写物流信息</div>
				</div>
			</div>
			
		</div>
		<!--买家未发货 end-->
	</div>
</div>