<div class="refund-action-info">
	<div class="refund-action-hd">
		我要退货
	</div>
	<div class="refund-action-detail">
		<div class="refund-action-note-info">
			<div class="refund-action-action-hd">
				<div class="red-round-warning-icon fl"></div>
				<div class="refund-action-action-hd-txt fl">等待商家确认退货</div>
			</div>
			<div class="clear"></div>
			<div class="refund-action-note-detail">
				<ul class="refund-action-note-detail-list">
					<li>如果商家同意，退货申请将达成并退款至您的支付银行卡中。</li>
					<li>如果商家拒绝，将需要您修改退货申请。</li>
					<li>如果9天23小时59分29秒内商家未确认收货，退款将自动完成并退款至您的银行卡中。</li>
					<li>您已退货&nbsp;&nbsp;&nbsp;&nbsp;物流公司：{{logistic.expressName}}&nbsp;&nbsp;&nbsp;&nbsp;运单号：{{logistic.expressno}}&nbsp;&nbsp;
					</li>
				</ul>
			</div>
			<div class="clear"></div>
			<!-- <div class="refund-action-note-others">
				<div class="refund-action-note-others-hd">您还可以</div>
				<div class="refund-action-note-others-action">
					<a href="#">申请平台介入</a>
				</div>
			</div> -->
		</div>
		<!--买家发货 end-->
	
	</div>
</div>