<div class="footer" ng-controller="FooterController">
    <div class="footer-top-box center-view">
      <div class="footer-top-left fl">
        <ul>
          <!--
          <li ng-repeat="category in categoryList">
            <div class="footer-column">
                <a class="footer-column-title" href="#/help-center/{{category.id}}/">{{category.name}}</a>
                <div class="footer-column-item" ng-repeat="detail in category.helpCenterDetailList">
                    <a href="#/helpcenter/{{category.id}}/{{detail.id}}">{{detail.name}}</a>
                </div>
            </div>
          </li>
 -->
          <li>
            <div class="footer-column">
                <div class="footer-column-title"><a href="#/helpcenter/V8-7kU7iSDOUSLr118wGiA/IXk_adE4TryRecK2X3FRJg">会员中心</a></div>
                <div class="footer-column-item"><a href="#/helpcenter/V8-7kU7iSDOUSLr118wGiA/IXk_adE4TryRecK2X3FRJg">会员注册</a></div>
                <div class="footer-column-item"><a href="#/helpcenter/V8-7kU7iSDOUSLr118wGiA/qQSQtjKnSiqsctl6EOJxmQ">购物流程</a></div>
                <div class="footer-column-item"><a href="#/helpcenter/V8-7kU7iSDOUSLr118wGiA/zE8FInvWRDuFVEGXchUS2w">红包使用</a></div>
            </div>
          </li>
          <li>
            <div class="footer-column">
                <div class="footer-column-title"><a href="#/helpcenter/teo0ixzVQOS9Zva-hC9-ww/AcFYeWkpTjmunUbJ_Zf9Mg">支付方式</a></div>
                <div class="footer-column-item"><a href="#/helpcenter/teo0ixzVQOS9Zva-hC9-ww/AcFYeWkpTjmunUbJ_Zf9Mg">货到付款</a></div>
                <div class="footer-column-item"><a href="#/helpcenter/teo0ixzVQOS9Zva-hC9-ww/aXSkT_0gQ62L5_fEQvcA3Q">在线支付</a></div>
                <div class="footer-column-item"><a href="#/helpcenter/teo0ixzVQOS9Zva-hC9-ww/LChfIrSBSa2BDe5sSZpHyw">线下支付</a></div>
            </div>
          </li>
          <li>
            <div class="footer-column">
                <div class="footer-column-title"><a href="#/helpcenter/FjzarKbZRTmELU6gqaFJ4A/6J7KqbtQRFWyF3JDB45gyA">配送说明</a></div>
                <div class="footer-column-item"><a href="#/helpcenter/FjzarKbZRTmELU6gqaFJ4A/6J7KqbtQRFWyF3JDB45gyA">配送时间</a></div>
                <div class="footer-column-item"><a href="#/helpcenter/FjzarKbZRTmELU6gqaFJ4A/SAVY5lSASGuUHoyJ0aAMGQ">配送费用</a></div>
                <div class="footer-column-item"><a href="#/helpcenter/FjzarKbZRTmELU6gqaFJ4A/02ddIJ8gRpOgsFdq68p_2w">配送范围</a></div>
            </div>
          </li>
          <li>
            <div class="footer-column">
                <div class="footer-column-title" ><a href="#/helpcenter/GIaK8nx2SnCEk6ITdov0zw/ne36hfJrRzm6Y4d3Hgd8GQ">售后服务</a></div>
                <div class="footer-column-item"><a href="#/helpcenter/GIaK8nx2SnCEk6ITdov0zw/ne36hfJrRzm6Y4d3Hgd8GQ">品质保证</a></div>
                <div class="footer-column-item"><a href="#/helpcenter/GIaK8nx2SnCEk6ITdov0zw/o4WKUB8gQjaAhjeWVbI82Q">退换货原则</a></div>
                <div class="footer-column-item"><a href="#/helpcenter/GIaK8nx2SnCEk6ITdov0zw/MJGUmudGTzG6byyf54xgWw">退换货流程</a></div>
            </div>
          </li>
          <li>
            <div class="footer-column">
                <div class="footer-column-title"><a href="#/helpcenter/knWclPhTSoyyjQ4MuhwL6w/o1ZBQLq4RM2dF1JPVYfQLQ">帮助中心</a></div>
                <div class="footer-column-item"><a href="#/helpcenter/knWclPhTSoyyjQ4MuhwL6w/o1ZBQLq4RM2dF1JPVYfQLQ">发票说明</a></div>
                <div class="footer-column-item"><a href="#/helpcenter/knWclPhTSoyyjQ4MuhwL6w/l4WZUil9Tym1Nh-7GD3gyA">积分原则</a></div>
                <div class="footer-column-item"><a href="#/helpcenter/knWclPhTSoyyjQ4MuhwL6w/5iysrO-ER2CL115RP5kwsA">联系我们</a></div>
            </div>
          </li>

          
        </ul>
      </div>
      <div class="footer-top-right fr">
        <div class="footer-right-column f-right-tel">
          服务热线：400-800-0815
        </div>
        <div class="footer-right-column f-right-tel">
          招商热线：0531-68880162
        </div>
        <div class="footer-right-column f-right-btn">
        <a target=blank href=http://wpa.qq.com/msgrd?V=3&uin=2774697871&Site=中华阿胶网&Menu=yes target="_blank">
          <img src="../images/index/iconfont-qq.png">在线咨询
        </a>
        </div>
      </div>
    </div>
     <div class="clear"></div>
     <div class="center-view">
        <div class="footer-center">
      <ul>
        <li class="footer-center-item">
          <div class=" footer-center-item-detail f-certified-product" ui-sref="consumer-protection.quality-assurance">
            <div class="one-hundred-percent-icon fl"></div>
            <span class="footer-hilight-txt">100%正品</span>保证
          </div>
        </li>
        <li class="footer-center-item">
          <div class="footer-center-item-detail f-return-product" ui-sref="consumer-protection.seven-day-return">
            <div class="return-icon fl"></div>
            <span class="footer-hilight-txt">7天</span>退换货
          </div>
        </li>
        <li class="footer-center-item">
          <div class="footer-center-item-detail f-online-service">
            <div class="twenty-four-hours-hot-tel-icon fl"></div>
            <span class="footer-hilight-txt">7X12小时</span>在线客服
          </div>
        </li>
      </ul>
    </div>
     </div>
   
    <div class="clear"></div>
    <div class="footer-links center-view">
      <ul>
        <li class="footer-link-item"><a href="#/helpcenter/V8-7kU7iSDOUSLr118wGiA/xMBxu5B8TMqOakrXI7IqxQ" >商家入驻</a>|</li>
        <li class="footer-link-item"><a href="" >商家登录</a>|</li>
        <li class="footer-link-item"><a href="#/helpcenter/bacOJGmXT2ufwKb52dSMJQ/yI5mMczYSa2AlXNrmHlYrQ">法律公告</a>|</li>
        <li class="footer-link-item"><a href="#/helpcenter/lgZpPZ69SjS2a1xn5kC3RA/mSXsJlo_Tnqy063ZDt-p-w">隐私保护</a>|</li>
        <li class="footer-link-item"><a href="#/helpcenter/rdvBaDRhQNGxELR2bqtWCg/aBrJ5Z7DRnyOh3JyYpCwtQ">合作伙伴</a>|</li>
        <li class="footer-link-item"><a href="#/helpcenter/rdvBaDRhQNGxELR2bqtWCg/6-Lj3C8xSMaAjSoIiUtUqQ">人才招聘</a>|</li>
        <li class="footer-link-item"><a href="#/helpcenter/rdvBaDRhQNGxELR2bqtWCg/lWqZgZOpS9aLvoG-oOJh8w">友情链接</a>|</li>
        <li class="footer-link-item"><a href="#/helpcenter/Lu0PS-wOTAqAzkh97hDHPQ/CkFmUNbbQGO8d6S2G9D-pw">网站地图</a>|</li>
        <li class="footer-link-item"><a href="#/brandnews#stationinfo">站内动态</a>|</li>
        <li class="footer-link-item"><a href="#/brandnews#industrytrends">行业动态</a></li>
      </ul>
    </div>
    <div class="clear"></div>
    <div class="footer-copyright center-view">
      <p>版权所有<span class="footer-company">山东乐谷信息科技有限公司</span><a class="f-cp-code">鲁ICP备15043282号</a><a class="f-contact-us" href="#/helpcenter/knWclPhTSoyyjQ4MuhwL6w/5iysrO-ER2CL115RP5kwsA">联系我们</a><a class="f-about-us" href="#/helpcenter/rdvBaDRhQNGxELR2bqtWCg/guzZYZzhQjGxroN7KaSIzA">关于我们</a></p>
    </div>
    <div class="clear"></div>
    <div class="center-view">
      <div class="footer-license">
        <a href="#/license/business" target="_blank">
          <img src="../images/license/license.jpg">
        </a>
      </div>
    </div>
    <illegal-request-dialog messagehd="{{messagehd}}"></illegal-request-dialog>
</div>