<header-top></header-top>
<div class="clear"></div>
<header-search></header-search>
<div class="clear"></div>

<div class="center-view">
	<ul class="consumer-protection-list">
		<li class="consumer-protection-item" ui-sref="consumer-protection.quality-assurance" ui-sref-active="consumer-protection-item-selected">品质保障</li>
		<li class="consumer-protection-item" ui-sref="consumer-protection.seven-day-return" ui-sref-active="consumer-protection-item-selected">七天退换货</li>
		<li class="consumer-protection-item" ><a href="#/helpcenter/V8-7kU7iSDOUSLr118wGiA/IXk_adE4TryRecK2X3FRJg">帮助中心</a></li>
	</ul>
	<div class="clear"></div>
</div>

<div ui-view=""></div>

<div class="clear"></div>
<footer></footer>