<div class="quality-assurance-main">
	<div class="consumer-protection-img"></div>
	<div class="center-view">
		<div class="consumer-protection-title">
			<div class="consumer-protection-title-left-img fl"></div>
			<div class="consumer-protection-title-txt fl">品质保障措施</div>
			<div class="consumer-protection-title-right-img fr"></div>
		</div>

		<div class="clear"></div>

		<div class="consumer-protection-detail">
			<ul class="consumer-protection-detail-list">
				<li>
					<div class="consumer-protection-detail-item">
						<div class="fl">
							<img src="../images/consumer-protection/quality-assurance/verify.png">
						</div>
						<div class="consumer-protection-detail-item-right fr">
							<div class="consumer-protection-detail-item-hd">
								<div class="consumer-protection-detail-item-hd-no fl">1</div>
								<div class="consumer-protection-detail-item-hd-txt fl">
									入驻审核
								</div>
							</div>
							<div class="clear"></div>
							<div class="consumer-protection-detail-item-info">
								<p>中华阿胶网申请入驻均需提供企业的相关资质证明材料以及售卖的品牌商品的商标注册证书或有效的品牌授权证明文件，阿胶网会对入驻材料进行严格审核。</p>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</li>

				<li>
					<div class="consumer-protection-detail-item">
						<div class="fl">
							<img src="../images/consumer-protection/quality-assurance/fake.png">
						</div>
						<div class="consumer-protection-detail-item-right fr">
							<div class="consumer-protection-detail-item-hd">
								<div class="consumer-protection-detail-item-hd-no fl">2</div>
								<div class="consumer-protection-detail-item-hd-txt fl">
									品牌打造
								</div>
							</div>
							<div class="clear"></div>
							<div class="consumer-protection-detail-item-info">
								<div class="consumer-protection-detail-item-info-hd">
									<div class="consumer-protection-detail-item-info-hd-no fl">1</div>
									<div class="consumer-protection-detail-item-info-hd-txt fl">
										品牌联合打假
									</div>
								</div>
								<div class="clear"></div>
								<div class="cp-dii-detail">
									<p>中华阿胶网杜绝一切假货，采用各种有效措施预防假货出现，对售假行为进行严厉打击，保障消费者的权益：</p>
									<p>对入驻的商家进行严格资质审核。</p>
									<p>与各大品牌商合作，对商品进行抽检，并委托知识产权权利人进行鉴定。</p>
									<p>对于售假商家进行清退处理。</p>
									<p>对于消费者购买到假货根据<span>正品保障</span>进行赔偿。</p>
								</div>
							</div>
							<div class="consumer-protection-detail-item-info">
								<div class="consumer-protection-detail-item-info-hd">
									<div class="consumer-protection-detail-item-info-hd-no fl">2</div>
									<div class="consumer-protection-detail-item-info-hd-txt fl">
										合作品牌
									</div>
								</div>
								<div class="clear"></div>
								<div class="cp-dii-detail">
									<p>东阿阿胶、福牌阿胶等</p>
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</li>
				
				<li>
					<div class="consumer-protection-detail-item">
						<div class="fl">
							<img src="../images/consumer-protection/quality-assurance/quality.png">
						</div>
						<div class="consumer-protection-detail-item-right fr">
							<div class="consumer-protection-detail-item-hd">
								<div class="consumer-protection-detail-item-hd-no fl">3</div>
								<div class="consumer-protection-detail-item-hd-txt fl">
									质量保证
								</div>
							</div>
							<div class="clear"></div>
							<div class="consumer-protection-detail-item-info">
								<div class="consumer-protection-detail-item-info-hd">
									<div class="consumer-protection-detail-item-info-hd-no fl">1</div>
									<div class="consumer-protection-detail-item-info-hd-txt fl">
										正品保证
									</div>
								</div>
								<div class="clear"></div>
								<div class="cp-dii-detail">
									<p>中华阿胶网杜绝一切假冒品牌行为，每个入驻品牌都由中华阿胶网严密审核，所售商品保证是其品牌下的正品。若消费者怀疑商品为假冒品牌，可直接联系客服进行商品认定。</p>
								</div>
							</div>
							<div class="consumer-protection-detail-item-info">
								<div class="consumer-protection-detail-item-info-hd">
									<div class="consumer-protection-detail-item-info-hd-no fl">2</div>
									<div class="consumer-protection-detail-item-info-hd-txt fl">
										品质保证
									</div>
								</div>
								<div class="clear"></div>
								<div class="cp-dii-detail">
									<p>消费者在收货后发现商品材质与商家描述不符，可在商家发货后的7天内无理由退款退货。</p>
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</li>
				
				<li>
					<div class="consumer-protection-detail-item">
						<div class="fl">
							<img src="../images/consumer-protection/quality-assurance/assurance.png">
						</div>
						<div class="consumer-protection-detail-item-right fr">
							<div class="consumer-protection-detail-item-hd">
								<div class="consumer-protection-detail-item-hd-no fl">4</div>
								<div class="consumer-protection-detail-item-hd-txt fl">
									品质抽检
								</div>
							</div>
							<div class="clear"></div>
							<div class="consumer-protection-detail-item-info">
								<div class="consumer-protection-detail-item-info-hd">
									<div class="consumer-protection-detail-item-info-hd-no fl">1</div>
									<div class="consumer-protection-detail-item-info-hd-txt fl">
										阿胶网投入
									</div>
								</div>
								<div class="clear"></div>
								<div class="cp-dii-detail">
									<p>中华阿胶网每年投入数千万的专项抽检资金，设立神秘访客的抽检机制用于对平台商品的品质管控，并和国家权威的第三方质检机构进行合作，对于检测不合格商品，阿胶网会依据规则对商家进行处罚。</p>
								</div>
							</div>
							<div class="consumer-protection-detail-item-info">
								<div class="consumer-protection-detail-item-info-hd">
									<div class="consumer-protection-detail-item-info-hd-no fl">2</div>
									<div class="consumer-protection-detail-item-info-hd-txt fl">
										神秘购买
									</div>
								</div>
								<div class="clear"></div>
								<div class="cp-dii-detail">
									<div>
										<img src="../images/consumer-protection/quality-assurance/assurance-step.png">
									</div>
									<ul class="cp-dii-detail-list">
										<li>志愿者购买并寄送样品</li>
										<li>第三方专业检测</li>
										<li>第三方出具检测报告</li>
										<li>对不合格的商品进行处罚</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</li>

			</ul>
		</div>
		<div class="clear"></div>
		<div class="donkey-img"></div>
	</div>
</div>