<div class="quality-assurance-main">
	<div class="seven-day-return-img"></div>
	<div class="center-view">
		<div class="consumer-protection-title">
			<div class="consumer-protection-title-left-img fl"></div>
			<div class="seven-day-return-title-txt fl">申请条件及说明</div>
			<div class="consumer-protection-title-right-img fr"></div>
		</div>

		<div class="clear"></div>

		<div class="consumer-protection-detail">
			<ul class="consumer-protection-detail-list">
				<li>
					<div class="consumer-protection-detail-item">
						<div class="fl">
							<img src="../images/consumer-protection/seven-day-return/sdr-1.png">
						</div>
						<div class="consumer-protection-detail-item-right fr">
							<div class="consumer-protection-detail-item-hd">
								<div class="consumer-protection-detail-item-hd-no fl">1</div>
								<div class="consumer-protection-detail-item-hd-txt fl">
									保障范围
								</div>
							</div>
							<div class="clear"></div>
							<div class="consumer-protection-detail-item-info">
								<p>买家提出退款申请所指向的商品必须在“七天无理由退换货”服务保障范围内</p>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</li>

				<li>
					<div class="consumer-protection-detail-item">
						<div class="fl">
							<img src="../images/consumer-protection/seven-day-return/sdr-2.png">
						</div>
						<div class="consumer-protection-detail-item-right fr">
							<div class="consumer-protection-detail-item-hd">
								<div class="consumer-protection-detail-item-hd-no fl">2</div>
								<div class="consumer-protection-detail-item-hd-txt fl">
									申请时间
								</div>
							</div>
							<div class="clear"></div>
							<div class="consumer-protection-detail-item-info">
								<div class="consumer-protection-detail-item-info-hd">
									<div class="consumer-protection-detail-item-info-hd-no fl">1</div>
									<div class="cpdi-detail fl">
										买家需要在确认签收商品之日起7天内（按照物流签收后的第二天零时起计算时间，满168小时为7天）提出申请。
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="consumer-protection-detail-item-info">
								<div class="consumer-protection-detail-item-info-hd">
									<div class="consumer-protection-detail-item-info-hd-no fl">2</div>
									<div class="cpdi-detail fl">
										买家在7天内已要求卖家提供“七天无理由退换货”服务而被卖家拒绝，或无法联系到该卖家，或卖家中断其经营或服务的可向阿胶网进行申请。
									</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</li>
				
				<li>
					<div class="consumer-protection-detail-item">
						<div class="fl">
							<img src="../images/consumer-protection/seven-day-return/sdr-3.png">
						</div>
						<div class="consumer-protection-detail-item-right fr">
							<div class="consumer-protection-detail-item-hd">
								<div class="consumer-protection-detail-item-hd-no fl">3</div>
								<div class="consumer-protection-detail-item-hd-txt fl">
									维权方式
								</div>
							</div>
							<div class="clear"></div>
							<div class="consumer-protection-detail-item-info">
								<div class="consumer-protection-detail-item-info-hd">
									<div class="consumer-protection-detail-item-info-hd-no fl">1</div>
									<div class="cpdi-detail fl">
										在满足7天无理由退换货的前提下，买家可在“已买到的宝贝”页面向阿胶网发起“七天无理由退换货”申请；
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="consumer-protection-detail-item-info">
								<div class="consumer-protection-detail-item-info-hd">
									<div class="consumer-protection-detail-item-info-hd-no fl">2</div>
									<div class="cpdi-detail fl">
										在收到买家“七天无理由退换货”赔付申请后，阿胶网有权根据协调情况要求交易双方提供必要证明，并确认及判定；
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="consumer-protection-detail-item-info">
								<div class="consumer-protection-detail-item-info-hd">
									<div class="consumer-protection-detail-item-info-hd-no fl">3</div>
									<div class="cpdi-detail fl">
										当阿胶网根据相关规范判定买家“七天无理由退换货”赔付申请成立，则有权自卖家的账户直接扣除相应金额款项先行赔付给买家。
									</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</li>
				
				<li>
					<div class="consumer-protection-detail-item">
						<div class="fl">
							<img src="../images/consumer-protection/seven-day-return/sdr-4.png">
						</div>
						<div class="consumer-protection-detail-item-right fr">
							<div class="consumer-protection-detail-item-hd">
								<div class="consumer-protection-detail-item-hd-no fl">4</div>
								<div class="consumer-protection-detail-item-hd-txt fl">
									运费说明
								</div>
							</div>
							<div class="clear"></div>
							<div class="consumer-protection-detail-item-info">
								<div class="consumer-protection-detail-item-info-hd">
									<div class="consumer-protection-detail-item-info-hd-no fl">1</div>
									<div class="cpdi-detail fl">
										中华阿胶网支持或卖家自行承诺提供无理由退换货服务的商品，买家以无理由形式退换货或拒签的，来回运费均由买家承担。若商品提供包邮服务，买家紧承担退货运费。
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="consumer-protection-detail-item-info">
								<div class="consumer-protection-detail-item-info-hd">
									<div class="consumer-protection-detail-item-info-hd-no fl">2</div>
									<div class="cpdi-detail fl">
										如果是商品质量问题，收到的货物与网上描述不符而导致的退货，退货费用则应由卖家承担。
									</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</li>
				<li>
					<div class="consumer-protection-detail-item">
						<div class="fl">
							<img src="../images/consumer-protection/seven-day-return/sdr-5.png">
						</div>
						<div class="consumer-protection-detail-item-right sdr-item-others fr">
							<div class="consumer-protection-detail-item-hd">
								<div class="consumer-protection-detail-item-hd-no fl">5</div>
								<div class="consumer-protection-detail-item-hd-txt fl">
									其他说明
								</div>
							</div>
							<div class="clear"></div>
							<div class="consumer-protection-detail-item-info">
								<div class="consumer-protection-detail-item-info-hd">
									<div class="consumer-protection-detail-item-info-hd-no fl">1</div>
									<div class="cpdi-detail fl">
										申请金额仅以买家实际支付的商品价款为限；
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="consumer-protection-detail-item-info">
								<div class="consumer-protection-detail-item-info-hd">
									<div class="consumer-protection-detail-item-info-hd-no fl">2</div>
									<div class="cpdi-detail fl">
										买家的赔付申请在形式上符合相关法律法规的规定。
									</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</li>
				<li>
					
				</li>

			</ul>
		</div>
		<div class="clear"></div>
		<div class="donkey-img"></div>
	</div>
</div>