<div class="mailbox-password" ng-controller="EmailpwdsContrller">
	<!-- ***************header -->
	<find-pw-header></find-pw-header>
	
	<div class="clear h107"></div>
	<!-- **************content -->
	<div class="mp-content center-view">
		<div class="inner">
			<ng-form name=myForm>
			<div class="bpc-hd">
				<div class="bpc-left" ng-click="changes()">手机找回密码</div>
				<div class="bpc-right in">邮箱找回密码</div>
			</div>
			<div class="bpc-mid">
				<div class="bpc-mid-1 on ">
					<div class="bpc1-pic ">1</div>
					<div class="bpc1-text">输入账号</div>
				</div>
				<div class="bpc-mid-2 ">
					<div class="bpc2-pic">2</div>
					<div class="bpc2-text">重置密码</div>
				</div>
				<div class="bpc-mid-3 ">
					<div class="bpc3-pic">3</div>
					<div class="bpc3-text">完成</div>
				</div>
			</div>
			<!-- ***********************bd部分 -->
			<div class="mpc-bd1 mpc-bd cur">
				
				<div class="mpcb1" style="width:650px;">
					<div class="bpcb1-icon">
						<div class="bpcbi"></div>
					</div>
					<input class="mpcb1-mail" type="text" id="super" name="emails" ng-class="{'my-class':myForm.emails.$error.pattern}" ng-model="email" placeholder="请输入邮箱号获取验证码" pattern="^[\w-_]+@([\w]+\.)+[\w]+$" required>
					<span style="height:40px;line-height:40px;margin-left:10px;color:red;" ng-show="myForm.emails.$error.pattern">请输入正确的邮箱</span>
				</div>
				<div class="mpcb2" style="width:650px;">
					<input type="text" class="mpcb2-mail" pattern="^\d{4}$" id="super" ng-class="{'my-class':myForm.emailCodes.$error.pattern}" name="emailCodes" placeholder="请输入验证码" ng-model="code" style="color: #C7C7C7;font-size: 16px;" required>
					<input type="button" class="mpcb2-get" ng-disabled="myForm.emails.$error.required || myForm.emails.$error.pattern" ng-click="emailcode(email)" value="获取邮箱验证码" />
					<span ng-show="myForm.emailCodes.$error.pattern" style="height:40px;line-height:40px;color:red;margin-left:10px;">请输入检验码</span>
				</div>
				<div class="mpcb3">
					<p>邮箱验证码已发送至您的邮箱，请注意查收！</p>
				</div>
				<input type="button" class="mpcb4" ng-disabled="myForm.emailCodes.$error.required || myForm.emailCodes.$error.pattern"  ng-click="emailcheck(code)" value="下一步"/>
			
			</div>

			<div class="mpc-bd2 mpc-bd ">
				<div class="mpcb1" style="width:650px;">
					<div class="bpcb1-icon">
						<div class="bpcb1-pic">
							<div class="bpcbi"></div>
						</div>
					</div>
					<input class="mpcb1-mail" name="pwd" type="password" pattern="^\w{8,20}$" id="super" ng-class="{'my-class':myForm.pwd.$error.pattern}"  ng-model="password" placeholder="请设置新密码" required>
					<p ng-show="myForm.pwd.$error.pattern" style="float: left;line-height: 50px; margin-left: 10px;color: #FD4040;">请输入8-20位的密码</p>
				</div>
				<div class="mpcb2">
					<div class="bpcb1-icon">
						<div class="bpcb1-pic">
							<div class="bpcbi"></div>
						</div>
					</div>
					<input class="mpcb1-mail" id="super"  type="password" ng-class="{'my-class':(password!=newpwd)}" ng-model="newpwd" placeholder="请重新输入密码" />
					
				</div>
				<div class="mpcb3">
					<p ng-show="password!=newpwd">请输入统一密码！</p>
				</div>
				<input type="button" class="mpcb4" ng-click="forgetpwds(email,password)" ng-disabled="myForm.pwd.$error.pattern || myForm.pwd.$error.required || (password!=newpwd)" value="下一步" />
			</div>

			<div class="bpc-bd3 bpc-bd ">
				<div class="bpcb-pic"></div>
				<div class="bpcb-text">
					<div class="bpcb-top">您的新登录密码已设置成功，请记住他哦！</div>
					<div class="bpcb-bottom">
						<p>	
							<a href="#/login" class="bpcb-r">点击此处</a>
							，立即返回之前的页面
						</p>
						<p>2秒后,自动返回</p>
					</div>
				</div>
			</div>
			</ng-form>
		</div>
		<illegal-request-dialog messagehd="{{messagehd}}" ></illegal-request-dialog>
	</div>
	<!-- *************************footer -->
	<div class="clear h163"></div>
	
	<find-pw-footer></find-pw-footer>
</div>