<div class="mobilebox-password" ng-controller="MobilepwdController">
	<!-- ***************header -->
	<find-pw-header></find-pw-header>

	<div class="clear h107"></div>
	<!-- **************content -->
	<div class="bp-content center-view">
		<div class="inner">
			<div class="bpc-hd">
				<div class="bpc-left in">手机找回密码</div>
				<div class="bpc-right " ng-click="changess()">邮箱找回密码</div>
			</div>
			<div class="bpc-mid">
				<div class="bpc-mid-1 on ">
					<div class="bpc1-pic ">1</div>
					<div class="bpc1-text">输入账号</div>
				</div>
				<div class="bpc-mid-2 ">
					<div class="bpc2-pic">2</div>
					<div class="bpc2-text">重置密码</div>
				</div>
				<div class="bpc-mid-3 ">
					<div class="bpc3-pic">3</div>
					<div class="bpc3-text">完成</div>
				</div>
			</div>
			<!-- ***********************bd部分 -->
			<div class="bpc-bd1 bpc-bd cur">
				<ng-form name=myForm>
				<div class="bpcb1" style="width:710px;">
					<div class="bpcb1-icon">
						<div class="bpcbi"></div>
					</div>
					<input class="bpcb1-mobile" name="phone" type="text" ng-model="mobile" id="super" ng-class="{'my-class':myForm.phone.$error.pattern}" placeholder="请输入手机号" pattern="^((13)|(14)|(15)|(16)|(17)|(18))\d{9}$" required>
					<span style="height:40px;line-height:40px;margin-left:10px;color:red;" ng-show="myForm.phone.$error.pattern">请输入正确的手机号</span>
				</div>
				<div class="bpcb2" style="width: 650px;">
					<input type="text" class="bpcb2-mobile" id="super" ng-class="{'my-class':myForm.codes.$error.pattern}" pattern="^\d{4}$" name="codes" ng-model="code" style="color: #C7C7C7;font-size: 16px;" placeholder="请输入验证码" required>
					<input type="button" class="bpcb2-get" ng-disabled="myForm.phone.$error.pattern || myForm.phone.$error.required" ng-click="mobilecode(mobile)" value="获取验证码"/>
					<div class="bpcb2-get" style="display:none;">59s后重新获取</div>
					<span ng-show="myForm.codes.$error.pattern" style="height:40px;line-height:40px;color:red;margin-left:10px;">请输入检验码</span>
				</div>
				<div class="bpcb3">
					<p>短信验证码已发送至您的手机，请注意查收!</p>
				</div>
				<input type="button" class="bpcb4" ng-disabled="myForm.codes.$error.pattern || myForm.codes.$error.required" ng-click="mobilecheck(code)" value="下一步" />
			</ng-form>
			</div>

			<div class="bpc-bd2 bpc-bd ">
				<ng-form name=someForm>
				<div class="bpcb1" style="width:700px;">
					<div class="bpcb1-icon">
						<div class="bpcb1-pic">
							<div class="bpcbi"></div>
						</div>
					</div>
					<input class="bpcb1-mobile" id="super" type="password" name="pwd" ng-class="{'my-class':someForm.pwd.$error.pattern}" ng-model="password" pattern="^\w{8,20}$" placeholder="请设置新密码" required>
					<p ng-show="someForm.pwd.$error.pattern" style="float: left;line-height: 50px; margin-left: 10px;color: #FD4040;">请输入正确的密码</p>
				</div>

				<div class="bpcb2">
					<div class="bpcb1-icon">
						<div class="bpcb1-pic">
							<div class="bpcbi"></div>
						</div>
					</div>
					<input class="bpcb1-mobile" type="password" id="super" ng-class="{'my-class':(password!=newpwd)}" ng-model="newpwd" placeholder="请重新输入密码"></div>
				<div class="bpcb3">
					<p ng-show="password!=newpwd">请输入统一密码！</p>
				</div>
				<input type="button" class="bpcb4" ng-disabled="someForm.pwd.$error.pattern || someForm.pwd.$error.required || (password!=newpwd)"  ng-click="foundpwd(mobile,password)" value="下一步"/>
			</ng-form>
			</div>

			<div class="bpc-bd3 bpc-bd ">
				<div class="bpcb-pic"></div>
				<div class="bpcb-text">
					<div class="bpcb-top">您的新登录密码已设置成功，请记住他哦！</div>
					<div class="bpcb-bottom">
						<p>	
							<a href="#/login" class="bpcb-r">点击此处</a>
							，立即返回之前的页面
						</p>
						<p>2秒后,自动返回</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<illegal-request-dialog messagehd="{{messagehd}}" ></illegal-request-dialog>
	<!-- *************************footer -->
	<div class="clear h163"></div>
	
	<find-pw-footer></find-pw-footer>	
</div>