<header-top></header-top>
<div class="clear"></div>
<header-search></header-search>
<div class="clear"></div>
<header-nav></header-nav>
<div class="clear"></div>

<div ui-view="current-position"></div>

<div class="center-view">
	<div class="user-center-main-left fl">
		<div ui-view="user-center-left"></div>
	</div>
	<div class="user-center-main-right fr">
		<div ui-view=""></div>
	</div>

</div>

<div class="clear"></div>
<div ui-view="user-center-bottom"></div>

<div class="clear"></div>
<footer></footer>