<header-top></header-top>
<div class="clear"></div>
<header-search></header-search>
<div class="clear"></div>
<header-nav></header-nav>
<div class="clear"></div>

<div class="ejiao-school-main" ng-controller="InformationController">
	<div class="ejiao-school-top">
		<div class="ejiao-school-top-bg"></div>
		<div class="ejiao-school-top-img"></div>
	</div>
	<div class="ejiao-school-nav">
		<div class="center-view">
			<div class="ejiao-school-nav-txt">
				<div class="ejiao-school-nav-first">功效研究</div>
				<div class="ejiao-school-nav-second">
					<div class="ejiao-school-nav-second-before"></div>
					<a href="#/ejiao/school#allusion">古阿胶典故</a>
				</div>
				<div class="ejiao-school-nav-second ejiao-school-ns-two">
					<div class="ejiao-school-nav-second-before"></div>
					<a href="#/ejiao/school#efficacy">现代阿胶功效研究</a>
				</div>
				<div class="ejiao-school-nav-main "></div>
				<a href="#/ejiao/school#quality">
				<div class="ejiao-school-nav-left-one"></div>
			    </a>
			    <a href="#/ejiao/school#recipes">
				<div class="ejiao-school-nav-left-two "></div>
			    </a>
				<div class="ejiao-school-nav-left-three"></div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="center-view">
		
		<div class="ejiao-school-allusion" >
			<a name="allusion">
			<div class="ejiao-school-hd">
				<div class="ejiao-school-hd-img ejiao-school-allusion-img"></div>
			</div>
		    </a>
			<div class="ejiao-school-allusion-main">
				<ul class="ejiao-school-allusion-list">
					<li>
						<div class="ejiao-school-allusion-item">
							<div class="ejiao-school-allusion-item-top">
								<img class="ejiao-school-allusion-item-img" src="../images/ejiao-school/8.png"></img>
							</div>
							<div class="ejiao-school-allusion-item-info">
								<div class="ejiao-school-allusion-ii-hd">
									<div class="ejiao-school-allusion-ii-hd-before fl"></div>
									武则天与阿胶
								</div>
								<div class="clear"></div>
								<div class="ejiao-school-allusion-ii-detail">
									<p>太后虽春秋高，善自涂泽，令左右不悟其衰。——《新唐书》</p>
									<p>女人都爱美，都想自己是男人心目中永远的花魁。所以在政治上她是谋略家，在驻颜上她更是无人能比，阿胶作为垄断的圣品，在武则天的眼中也是宝。她听说阿胶能养颜美容，延缓衰老，就一直养成了食用阿胶的习惯，武则天早晚膳食都要食用一次阿胶滋补汤，所以她至八十高龄时仍面色红润，风韵犹在。</p>
									<p>当时有这么一句话：太后虽春秋高，善自涂泽，令左右不悟其衰。这就是武则天使用阿胶滋补后的效果。贡府堂阿胶采用的是纯种黑毛驴、绍兴黄酒、冰糖及纯正豆油。在看似简单的工艺中，酿造出具有大智慧的九天贡胶。每每武则天就让御厨用阿胶制成各种菜肴，汤剂，每天变换一种特色，等到武则天细细数来已是成千上万的食谱，养生阿胶贡府堂在人们心中已是个令人向往的神话！</p>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="ejiao-school-allusion-item">
							<div class="ejiao-school-allusion-item-top">
								<img class="ejiao-school-allusion-item-img" src="../images/ejiao-school/9.png"></img>
							</div>
							<div class="ejiao-school-allusion-item-info">
								<div class="ejiao-school-allusion-ii-hd">
									<div class="ejiao-school-allusion-ii-hd-before fl"></div>
									杨贵妃与阿胶
								</div>
								<div class="clear"></div>
								<div class="ejiao-school-allusion-ii-detail">
									<p>铅华洗尽依丰盈，雨落荷叶珠难停。暗服阿胶不肯道，却说生来为君容。</p>
									<p>形容美人最典雅的词汇是“肤若凝脂”，而历史上最“肤若凝脂”的人是杨贵妃，但她为什么能“肤若凝脂”，却在唐代引起一场笔墨官司。这场官司牵涉到东阿阿胶、温泉以及白居易，至今不绝。</p>
									<p>白居易《长恨歌》中写道：“春寒赐浴华清池，温泉水滑洗凝脂”。白居易是何等人物，此言一出，声势压人，后世不由分说就认为那“凝脂”是温泉水洗所致。偏偏他的同时代人不认账，《全唐诗》无名氏跳出来针锋相对，认为“铅华洗尽依丰盈，雨落荷叶珠难停。暗服阿胶不肯道，却说生来为君容。” 果然是别开生面。</p>
									<p>圣人说，饮食和男女，是人之为人的最大欲望。杨女士如此妩媚，所以我们大致可以理解为什么唐明皇从此不早朝，一味跟“肤若凝脂”缠绵了。</p>
									<p>问题是杨贵妃为什么能够“肤若凝脂”，并不是一句“天生丽质难自弃”所能打发的。</p>
									<p>杨贵妃先做唐明皇的儿媳妇，后来进道庙，几经周折，最终成为唐明皇的“专宠”，这时的杨贵妃在年龄上已经没有多少优势。须知时间是女人最大的天敌，无论如何的“天生丽质”，怎抵那风雨消磨。</p>
									<p>怪的是杨贵妃偏能抵挡那风雨消磨，天生之外，肯定驻颜有术，居然多年集“三千宠爱于一身”。白居易认为那驻颜之术是洗温泉，无名氏认为是吃阿胶。</p>
									<p>其中奥妙尽在无名氏诗中。原来唐代女子好浓妆艳抹，也就是好用“铅华”。抹上“铅华”固然可以光彩照人，但后患无穷，因为“铅华”之中含铅、镉等重金属，容易腐蚀皮肤。时间一久，“铅华洗尽”后恐怕不是什么“雨落荷叶珠难停”，而是层峦叠嶂，面目峥嵘了。所以无名氏才感叹杨女士居然能够“铅华洗尽依丰盈”，着实不易。</p>
									<p>答案一自然就出来了：杨女士温泉洗澡，不是因为温泉能使“肤若凝脂”，而是温泉洗澡“铅华洗尽”后依然能“肤若凝脂”。</p>
									<p>至于答案二，无名氏说，杨女士之所以“肤若凝脂”是因为“暗服阿胶”。</p>
									<p>不知道当年杨女士魂销马巍坡，是否会后悔自己“肤若凝脂”，后悔自己“暗服阿胶”。但当时后有安史叛乱，中有六军不发，前途茫茫，时人的确认为杨贵妃是红颜祸水，该死。其实，错误在于唐明皇，而不在于举国声讨的那“肤若凝脂”的色，以及助色生成的东阿阿胶。所以怨不得杨贵妃，怨不得东阿阿胶，唐明皇咎由自取，构成这千古奇冤。</p>
									<p>不过，认为杨女士之所以“肤若凝脂”是因为“暗服阿胶”，这一条真是令人震惊。以杨贵妃之独擅后宫，以唐明皇之恩宠有加，以杨氏家族之鼎盛，杨贵妃何所不能求，何所得，何必如作贼一般，躲在在后宫暗服阿胶。</p>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="ejiao-school-allusion-item">
							<div class="ejiao-school-allusion-item-top">
								<img class="ejiao-school-allusion-item-img" src="../images/ejiao-school/10.png"></img>
							</div>
							<div class="ejiao-school-allusion-item-info">
								<div class="ejiao-school-allusion-ii-hd">
									<div class="ejiao-school-allusion-ii-hd-before fl"></div>
									虢国夫人与阿胶
								</div>
								<div class="clear"></div>
								<div class="ejiao-school-allusion-ii-detail">
									<p>虢国夫人峨眉长，酥胸如兔裹衣裳。东来阿胶日三盏，蓄足冶媚误君王。</p>
									<p>杨贵妃对外否认自己暗服阿胶的独门保春秘诀，却对亲姐妹豪不遮掩，口耳相授，大家好合力实现对皇帝的“杨氏美色垄断”。这足以说明阿胶养颜的功效，肥水不流外人田。</p>
									<p>宋代理学大师朱熹至孝其母：“慈母年高，当以心平气和为上。少食勤餐，果蔬时伴。阿胶丹参之物，时以佐之。延庚续寿，儿之祈焉。”朱熹劝母养生之道，现在看来很有科学道理。朱熹活了七十一岁，也得益于阿胶之助。</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
	    </div>


	    <div class="clear"></div>

	    <div class="ejiao-school-efficacy" >
	    	<a name="efficacy">
	    	<div class="ejiao-school-hd">
				<div class="ejiao-school-hd-img ejiao-school-efficacy-img"></div>
			</div>
		    </a>
			<div class="ejiao-school-efficacy-main">
				<ul class="ejiao-school-efficacy-list">
					<li>
						<div class="ejiao-school-efficacy-item-hd fl">
							补血<br/>养血
						</div>
						<div class="ejiao-school-efficacy-item-desc fr">
							<p class="ejiao-school-eid-oneline">
								现代药理实验证明：阿胶具有强大的补血作用，能改善骨髓造血功能，提高红细胞、白细胞、血小板指标。
							</p>
						</div>
					</li>
					 <li>
						<div class="ejiao-school-efficacy-item-hd fl">
							调经<br/>安胎
						</div>
						<div class="ejiao-school-efficacy-item-desc fr">
							<p>
								阿胶可以用于因血虚、血瘀、和血热引起的月经不调，有补血调经作用。阿胶可以补阴血，益冲任，故可养胎、安胎，调治妊娠病。对常见胎元不固，胎动不安，甚至流产有很好的治疗作用。
							</p>
						</div>
					</li>
					<li>
						<div class="ejiao-school-efficacy-item-hd fl">
							美容<br/>养颜
						</div>
						<div class="ejiao-school-efficacy-item-desc fr">
							<p>
								阿胶显著抑制酪氨酸酶活性从而抑制黑色素产生，并能提高皮肤细胞自身的SOD的活性，含有明胶原、骨胶原、蛋白质以及多种微量元素，多种氨基酸等。这些都是人体营养重要物质，有明显美白、抗衰老、美容养颜的作用。
							</p>
						</div>
					</li>
					<li>
						<div class="ejiao-school-efficacy-item-hd fl">
							强健<br/>体质
						</div>
						<div class="ejiao-school-efficacy-item-desc fr">
							<p class="ejiao-school-eid-oneline">
								阿胶中含有丰富的钙，同时含有的甘氨酸能帮助钙质转运，增强钙的吸收和储存，对于预防中老年人骨质疏松有显著作用。
							</p>
						</div>
					</li>
					<li>
						<div class="ejiao-school-efficacy-item-hd fl">
							延缓<br/>衰老
						</div>
						<div class="ejiao-school-efficacy-item-desc fr">
							<p>
								阿胶增强抗氧化酶的活性，降低氧化物的产生，抑制阻止器官的退化。对于年老及久病引起的体质虚弱者来说，其减轻疲劳、增强体质、促进康复、延缓衰老的作用十分显著。
							</p>
						</div>
					</li>
					<li>
						<div class="ejiao-school-efficacy-item-hd fl">
							提高<br/>免疫力
						</div>
						<div class="ejiao-school-efficacy-item-desc fr">
							<p>
								阿胶对白细胞、NK细胞、B淋巴细胞和T淋巴细胞亚群均具有明显的升高作用，并能延缓肾、肝等解毒器官的退化，提高胸腺指数和脾脏指数。对年老体弱，久病体虚，易患感冒等体质下降者有较好的治疗和预防作用，使免疫力增强，疾病减少。
							</p>
						</div>
					</li> 
				</ul>
			</div>

	    </div>
	    <div class="clear"></div>
	</div>

    <div class="ejiao-school-quality">
		<div class="center-view">
			<a name="quality">
			<div class="ejiao-school-hd">
				<div class="ejiao-school-hd-img ejiao-school-quality-img"></div>
			</div>
			</a>
			<div class="ejiao-school-quality-sum">
				<p>“阿胶，本经上品。弘景曰：‘出东阿，故名阿胶’”。阿胶在我国有近3000年历史，我国最早的药学经典——东汉时期的《神农本草经》就将其列为“上品”，《神农本草经》称其“久服，轻身益气”，在治未病方面功效显著。</p>
				<p>近几年来随着人们滋补养生保健意识的增强，阿胶的应用也越来越广泛，尤其是近几年膏方市场的崛起，更成为胶类中药行业的增长点。“无胶不成膏”，中医界认为，90%的膏方中都含有胶类中药，膏方市场需求牵动了胶类中药市场的“神经”，胶类中药行业正积蓄能量，酝酿产业升级。</p>
				<p>然而，所有好东西都会无可奈何地陷入被造假的尴尬境地，胶类行业也未能幸免。阿胶“李鬼”不仅伤了行业，更连累了消费者，伪劣阿胶给消费者健康带来隐患。在购买过程中需要仔细辨别，除了尽量购买正规厂家生产的阿胶，通常还可以通过以下手段来鉴别手中的阿胶真伪。</p>
			</div>
			<div class="ejiao-school-quality-main">
				<ul class="ejiao-school-quality-list">
					<li>
						<div class="ejiao-school-quality-item-hd fl">
							挑产地
						</div>
						<div class="ejiao-school-quality-item-desc fr">
							<p class="ejiao-school-qid-oneline">阿胶是以驴皮为原料，经煎煮、浓缩等50多道工序炼制而成的固体胶块，具有补血滋阴、润燥止血的功效，一般以产自山东省东阿县的最为正宗。</p>
						</div>
					</li>
					<li>
						<div class="ejiao-school-quality-item-hd fl">
							挑外观
						</div>
						<div class="ejiao-school-quality-item-desc fr">
							<p>品质好的阿胶呈规则的长方形，大小、厚薄一致，表面平整光亮、色泽均匀，呈暗红色。在胶块的背面有两道规则分割道，质硬而脆，手掰稍用力即断；若将胶块用力拍在硬物上，会裂成数块，断面光亮，对光照射呈棕色半透明，无油孔、气孔。</p>
						</div>
					</li>
					<li>
						<div class="ejiao-school-quality-item-hd fl">
							辨韧性
						</div>
						<div class="ejiao-school-quality-item-desc fr">
							<p>好的阿胶质地坚硬而脆，真品阿胶用里拍在桌子上回碎裂为数快，而且断面光亮，碎片对光照视呈棕色半透明状；而质量不好的阿胶质地较为坚韧，不宜摔碎。</p>
						</div>
					</li>
					<li>
						<div class="ejiao-school-quality-item-hd fl">
							闻气味
						</div>
						<div class="ejiao-school-quality-item-desc fr">
							<p>一块好的阿胶在初打开包装时，对胶块表面轻哈一口气，能闻到淡淡的清香味；粉碎后，也能闻到阿胶独有的清香味。 而使用牛皮、马皮或者工业用皮的下脚料熬制出来的则气味腐臭、难闻。</p>
						</div>
					</li>
					<li>
						<div class="ejiao-school-quality-item-hd fl">
							挑年份
						</div>
						<div class="ejiao-school-quality-item-desc fr">
							<p>古话说：人参要新， 阿胶要陈。目前，从阿胶的保质期来看，多是5年，但只要保存得当，放置在阴凉干燥处，温度低于25℃以下，打开时无腥臭味、霉点，一般都可以使用。有实验表明，正品阿胶如果保存得当，经百年而功效不散。</p>
						</div>
					</li>
					<li>
						<div class="ejiao-school-quality-item-hd fl">
							试手感
						</div>
						<div class="ejiao-school-quality-item-desc fr">
							<p>李时珍在《本草纲目》中记载“真者不作皮臭，夏月亦不湿软”。用纯驴皮制作的阿胶在保存妥当的情况下用手触摸其表面干燥，不变软，不湿手，不粘手。</p>
						</div>
					</li>
					<li>
						<div class="ejiao-school-quality-item-hd fl">
							做实验
						</div>
						<div class="ejiao-school-quality-item-desc fr">
							<p>将阿胶砸碎后放入杯中，加沸水适量，放置1-2分钟，胶液澄清，有清香味。伪劣阿胶液体浑浊，伴有有刺鼻的异臭味。此外，真阿胶可充分溶解于水，假阿胶溶解后会出现沉淀或者杂质。</p>
						</div>
					</li>
				</ul>
			</div>

			<div class="clear"></div>

			<div class="ejiao-school-quality-note">
				<div class="ejiao-school-quality-note-hd">注意事项</div>
				<div class="ejiao-school-quality-note-desc">
					实证（面红、烦躁、便秘、尿少而黄）者多不宜用 阿胶 。脾虚者也应慎用 阿胶 ，以免影响消化。<br/>愿广大消费者注意保护健康和安全，在购买和服用阿胶的时候认清品牌，辨别真伪优劣，共同打击假冒伪劣阿胶，保护自身合法权益。
				</div>
			</div>
		</div>		
    </div>

    <div class="clear"></div>

    <div class="center-view">
    	<div class="ejiao-school-recipes">
    		<a name="recipes">
    		<div class="ejiao-school-hd">
				<div class="ejiao-school-hd-img ejiao-school-recipes-img"></div>
			</div>
			</a>
			<div class="ejiao-school-recipes-desc">
				<div class="ejiao-school-recipes-desc-txt">
					<p>阿胶，女性滋补品，这是我们都知道的常识．但是，如何吃才能发挥阿胶的功效，却不是人人尽知的。
					</p>
					<p>阿胶味甘、性平，功能为补血止血，滋阴润肺。现代研究证实，阿胶多由骨胶原及其部分水解产物组成，含总氮量约16%，主要为蛋白质。水解生成的氨基酸有赖氨酸10%、精氨酸7%、组氨酸2%等，钙的含量为0.079%—0.118%，对血虚动物具有良好的补血作用，对血红蛋白和红细胞增长速度的疗效优于铁剂，有促进人体免疫功能、强身健体的用。 </p>
					<p>阿胶的服法有多种，以上好黄酒、冰糖伴以阿胶炖化服用，主要治疗妇女月经不调、经水不止、妊娠出血及产后虚弱;另一种是将上述三者再加入适量红枣、核桃仁、黑芝麻等炖化服用，对男子身体虚弱、贫血性心悸、头晕、气急疗效较好，也能改善神经衰弱、失眠多梦等症状。</p>
				</div>
			</div>
			<div class="ejiao-school-recipes-recom">
				<ul class="ejiao-school-recipes-recom-list">
					<li>
						<div class="ejiao-school-recipes-recom-img">
							<img src="../images/ejiao-school/15.png">
						</div>
						<div class="ejiao-school-recipes-recom-hd">
							<img src="../images/ejiao-school/20.png">
						</div>
						<div class="ejiao-school-recipes-recom-detail">
							<p>阿胶250克，黄酒30毫升置锅内，隔水加盖蒸约两至三小时，待其全部溶化后取出即可。</p>
							<p>每日一至两次，每次服两匙，此法适用于一般血虚症。</p>
						</div>
					</li>
					<li>
						<div class="ejiao-school-recipes-recom-img">
							<img src="../images/ejiao-school/16.png">
						</div>
						<div class="ejiao-school-recipes-recom-hd">
							<img src="../images/ejiao-school/21.png">
						</div>
						<div class="ejiao-school-recipes-recom-detail">
							<p>阿胶150克，砸碎，黄酒350毫升，浸泡一周。待阿胶呈海绵状，略加水炖化，加入黑芝麻、核桃仁适量，加上冰糖250克，蒸1小时，不断搅拌，冷却即成冻膏。每天早晚各一至两匙，温开水冲服。此法对患腰酸怕冷、耳鸣和阴虚或肾亏等症有特效。</p>
						</div>
					</li>
					<li>
						<div class="ejiao-school-recipes-recom-img">
							<img src="../images/ejiao-school/17.png">
						</div>
						<div class="ejiao-school-recipes-recom-hd">
							<img src="../images/ejiao-school/22.png">
						</div>
						<div class="ejiao-school-recipes-recom-detail">
							<p>阿胶150克，黄酒350毫升，浸泡呈海绵状，略加水炖化，加入适量人参煎液或人参粉，配入桂圆肉拌匀，加冰糖蒸1小时许。冷却成冻膏，每天早晚各一至两匙服用。适用于气虚疲乏无力，兼有心悸畏寒等症。</p>
						</div>
					</li>
					<li>
						<div class="ejiao-school-recipes-recom-img">
							<img src="../images/ejiao-school/18.png">
						</div>
						<div class="ejiao-school-recipes-recom-hd">
							<img src="../images/ejiao-school/23.png">
						</div>
						<div class="ejiao-school-recipes-recom-detail">
							<p>将阿胶、蜂蜜、鸡蛋配合放在一起， 东阿阿胶 适量炖化，加入鸡蛋一个，蜂蜜一匙。</p>
							<p>每日空腹服一次，对于虚疲咳嗽症疗效较好。</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="clear"></div>
			<div class="ejiao-school-recipes-all">
				<div class="ejiao-school-recipes-all-txt">
					<ul class="ejiao-school-recipes-list">
						<li ng-repeat="heathly in heathlyFood">
							<div class="ejiao-school-recipes-item-hd text-omitted fl">
								[阿胶食谱]&nbsp;&nbsp;<a href="" ng-click="heathlyDetail(heathly)">{{heathly.title}}</a>
							</div>
							<div class="ejiao-school-recipes-item-date fr">
								{{heathly.addtime}}
							</div>
							<div class="clear"></div>
						</li>
						

					</ul>
				</div>
				
			</div>
    	</div>
    </div>
    <div class="ejiao-school-bt-img"></div>
	
</div>

<div class="clear"></div>
<footer></footer>