<div class="p-trade-record" ng-controller="SalesRecordsController">
	<div class="ptr-table">
		<table class="ptr-tb-list" summary="买家交易记录">
			<thead>
				<tr>
					<th class="tb-buyer">买家</th>
					<th class="tb-amount">数量</th>
					<th class="tb-start">成交时间</th>
				</tr>
			</thead>
			<tbody class="tb-list-body" ng-repeat="record in salesrecords">
				<tr>
					<td class="tb-buyer">
						<span class="tb-sellnick">{{record.uname |nameFilter}}</span>
					</td>
					<td class="tb-amount">{{record.count}}</td>
					<td class="tb-start">
						{{record.salesDate}}
					</td>
				</tr>
				
			</tbody>
		</table>
		<div class="ptr-get-more" ng-click="querymax()" ng-show="salerecordsFlag">查看更多&gt;&gt;</div>
	</div>
</div>